article {
  display: block;
  box-sizing: border-box;
}

.article-bg {
  background-color: white;
  margin-bottom: 20px;
}

.article-body {
  padding: 4%;
}

.article-header {
  text-align: center;
}

.article-title {
  margin: 0;
  font-size: 2.1em;
}

.article-meta {
  margin-top: 14px;
  color: #959595;
}

.article-author {
  margin: 0 7px;
}

.article-content {
  margin: 30px 0;
  font: 400 16px/1.62 Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  color: #444443;
}

.article-footer {
  margin-top: 30px;
  color: #959595;
}

.article-footer a {
  margin-left: 7px;
  color: #959595;
}

.article-content img {
  box-sizing: border-box;
}

.article-content a {
  display:block;
  overflow: hidden;
}

/*footer start*/
.article-footer .tag-list {
  height:25px;
  line-height: 25px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.article-footer .collection-btn {
  font-size: 25px !important;
  color: #f4a426 !important;
}

.article-footer .collection-clicked-btn {
  font-size: 25px !important;
  color: #337ab7 !important;
}

.article-footer .collection-text {
  display: inline-block;
  height:22px !important;
  line-height:22px;
  overflow:hidden;
}

.article-footer .collection-container {
  cursor: pointer;
}
/*footer end*/
